body {
            font-family: "Yu Gothic", "游ゴシック体", "YuGothic", "游ゴシック", sans-serif;
      }
h1 {
      text-align: left; 
      padding-left: 50px; 
      font-size: 150pt; 
      color: #CFCFCF;
    }
h2{
  text-align: left; 
  padding-left: 50px; 
  font-size: 75pt; 
  color: #CFCFCF;
}
p{
  text-align: center; 
  font-size: 24pt; 
  color: #000000;
  line-height: 60px;
}
.logo {
    text-align: center;
}
button {
    margin: 20px auto;        
    display: block;       
    color: #ffffff;   
    background-color: #E68C87;
    border: none;    
    border-radius: 20px;  
    padding: 10px 24px;    
}
